{% load static  %}
<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        {% block extra_css %}
        {% endblock %}
    </header>
    <body>


        <header>
            <h1> </h1>
            <nav>
                <ul>
                    <li><a href="#">کیف پول </a></li>
                    <li><a href="#"> وضعیت سرویس </a></li>
                    <li><a href="/products/">محصولات من </a></li>
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock %}   


    </body>

</html>